body {
    font-family: "Roboto Flex", sans-serif; 
    color: #E7D5BA;
    background: linear-gradient(#231A10, #463B2D);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin:  0 15px;
    padding: 0;
    color: inherit;
}

nav img {
    width: 250px;
    height: 50px;
    margin: 10px 0;
}

nav ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    color: #E7D5BA;
    font-weight: bold;
}

nav section button {
    background-color: #92F76E !important;
    color: #1C140C !important;
    border-radius: 3px; 
    border-style: none;
    margin: 20px 2px auto;
    padding:  2px 5px;
    font-weight: bold;
}


h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    color: #92F76E;
    margin-left: 12rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

nav ul a {
    text-decoration: none;
}

nav ul a:visited {
    color: #E7D5BA;
}

hr {
    border: 1px solid #92F76E;
    margin: 40px 11rem;

}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
    margin: 5px auto;
    padding: 20px;
    max-width: 1080px;
}

.gallery img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    border-radius: 3%;
}

legend {
    display: flex;
    font-family: "Pixelify Sans", sans-serif;
    color: #92F76E;
    font-size: 26px;
    margin-top: 0;
    padding-top: 0;
}

label{
    font-family: "Roboto Flex", sans-serif;
    font-size: 14px;
    color: #E7D5BA;
}    

p {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-left: 20px;
    gap: 10px;
    text-justify:inter-word;
}



footer {
    background-color: #231A10;
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #E7D5BA;
    text-align: left;
    margin-top: 100px;
}

footer h4, h5, h6 {
    margin-bottom: 1rem;
    color: #92F76E;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 0;
    padding-top: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    color: #E7D5BA;
    font-size: 16px;
    margin-left: 150px;
}
